@model PricatMVC.App.Models.ProductsByCategory

@{
    ViewData["Title"] = "Productos";
}

<div class="row">
    <div>
        <h4>
            Categoria: @Html.DisplayFor(model => model.CategoryInfo.Id) - @Html.DisplayFor(model => model.CategoryInfo.Description)
            <a asp-action="Index" title="Categorias"> <i class="bi bi-arrow-left-circle"></i> </a>
        </h4>
    </div>
</div>

<hr />

<p>
    <a asp-action="Create" class="btn btn-success" title="Adicionar"><i class="bi bi-plus-lg"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].EanCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <a class="btn btn-outline-info" asp-controller="products" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@Url.Content("~/products/" + item.EanCode + ".png")" height="64" width="64" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EanCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="products" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="bi bi-pencil-fill"></i></a>
                    <a class="btn btn-danger" asp-controller="products" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="bi bi-trash"></i></a>
                    <a class="btn btn-info" asp-controller="products" asp-action="Details" asp-route-id="@item.Id" title="Detalles"><i class="bi bi-card-list"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
