@using PricatMVC.Domain.Dtos
@model IEnumerable<PricatMVC.Domain.Entities.Category>

@{
    ViewData["Title"] = "Categorias";
    PaginationData paginationData = (ViewData["PaginationData"] as PaginationData)!;
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-success" title="Create"><i class="bi bi-plus-lg"></i></a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input class="btn btn-primary" type="submit" value="Search" />
            <a class="btn btn-outline-secondary" asp-action="Index" title="Clear">Clear</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Description)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="bi bi-pencil-fill"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="bi bi-trash"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Products"><i class="bi bi-box-seam"></i></a>
                <a class="btn btn-warning" onclick="showDetails(@item.Id)" title="Products"><i class="bi bi-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@paginationData.PreviousPage"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@paginationData.NextPage"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark">
    Next
</a>

<div id="details">
</div>

@section Scripts
{
    <script>
        function showDetails(id) {
            var url = "/categories/partialdetails";
            $.get(url, { id: id })
                .done(function (response) {
                    $("#details").html(response);
                });
        }
    </script>
}